mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}


// .light{
//   background-color: aqua !important;
//   // z-index: 100 !important;
//   }
//    .dark
//   {
//   background-color: blue !important;
//   // z-index: 100 !important;
//   }

